/* Pantalla de carga */
#pantallaCarga{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:#8b0000;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    flex-direction:column;

    z-index:9999;

    transition:1s;
}

#pantallaCarga h2{
    color:white;
    font-size:40px;
    font-family:Impact,sans-serif;
}

/* Peleadores */
#peleador1,
#peleador2{
    font-size:100px;
}

#peleador1{
    animation: ataqueIzq 1s infinite;
}

#peleador2{
    animation: ataqueDer 1s infinite;
}

@keyframes ataqueIzq{
    0%{transform:translateX(0);}
    50%{transform:translateX(80px);}
    100%{transform:translateX(0);}
}

@keyframes ataqueDer{
    0%{transform:translateX(0);}
    50%{transform:translateX(-80px);}
    100%{transform:translateX(0);}
}
body{
    margin:0;
    padding:0;
    text-align:center;

    background:
    radial-gradient(circle at center,
    #ff0000 0%,
    #b30000 40%,
    #660000 75%,
    #1a0000 100%);

    font-family: Impact, Arial Black, sans-serif;
    color:white;

    min-height:100vh;
}
/* Título principal */
h1{
    font-size:4rem;
    color:gold;

    text-transform:uppercase;

    text-shadow:
    0 0 10px gold,
    0 0 20px orange,
    0 0 30px red;

    animation: brillo 2s infinite alternate;
}

/* Animación del título */
@keyframes brillo{
    from{
        text-shadow:
        0 0 10px gold,
        0 0 20px orange;
    }

    to{
        text-shadow:
        0 0 20px gold,
        0 0 40px red,
        0 0 60px orange;
    }
}

/* Imágenes */
.hero-img,
.footer-img{
    margin-top:20px;

    border:5px solid gold;
    border-radius:20px;

    box-shadow:
    0 0 20px red,
    0 0 40px gold;

    transition:0.4s;
}

.hero-img:hover,
.footer-img:hover{
    transform:scale(1.05);
}

/* Menú */
nav{
    margin-top:40px;
}

/* Botones del menú */
.nav-btn{
    display:inline-block;

    background:linear-gradient(to bottom,#ffcc00,#ff6600);

    color:black;
    text-decoration:none;

    font-size:1.5rem;
    font-weight:bold;

    padding:15px 30px;
    margin:10px;

    border:3px solid white;
    border-radius:15px;

    box-shadow:
    0 0 15px red,
    0 0 30px orange;

    transition:0.3s;
}

.nav-btn:hover{
    transform:scale(1.1);

    background:linear-gradient(to bottom,#ffff00,#ff0000);

    box-shadow:
    0 0 30px gold,
    0 0 50px red;
}

/* Botón menú */
#menuBtn{
    position:fixed;
    top:20px;
    left:20px;

    background:gold;
    color:black;

    border:none;
    border-radius:10px;

    padding:12px 20px;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    box-shadow:0 0 15px red;

    transition:0.3s;
}

#menuBtn:hover{
    transform:scale(1.1);
    box-shadow:0 0 30px gold;
}

/* Footer */
footer{
    margin-top:50px;
    margin-bottom:30px;
}
